@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
    font-family: "Roboto";
}

html {
    overflow-y: scroll;
}
.nft-image {
    height: 450px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.how-div {
    color: white;
    border-radius: 30px;
    margin: 25px;
    width: 100%;
    height: 330px;
    background: #222531;
}

.how-div i {
    display: block;
    margin: auto;
    margin-top: 30px;
    font-size: 80px;
    color: white;
    text-align: center;
}

.how-div img {
    margin-top: 10px;
    width: 20%;
    text-align: center;
    border-radius: 20%;
}

.how-div h3 {
    margin-top: 20px;
    text-align: center;
}

.how-div h5 {
    margin-top: 20px;
    text-align: center;
}

.footer {
    background: white;
    text-align: center;
    width: 100%;
    height: 50px;
    color: black;
}

.how-outer-div {
    width: 100%;
    height: 300px;
    background: #262e3d;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.how-outer2-div {
    width: 100%;
    height: 300px;
    background: #262e3d;
    border-radius: 25px;
}

.how-outer2-div i {
    display: block;
    margin: auto;
    margin-top: 30px;
    font-size: 80px;
    color: white;
    text-align: center;
}

.how-title {
    margin-top: 40px;
    text-align: center;
    color: white;
}
.how-inner {
    margin-left: 1px;
    width: 100%;
    margin-top: -200px;
    text-align: center;
}

.nft-title {
    margin-left: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    height: 120px;
}

.nft-desc {
    margin-left: 20px;
    margin-top: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    height: 200px;
}

.other-coll {
    margin-top: 40px;
    border: 1px solid #ddd;
    border-radius: 10px;
    height: 100%;
}
.nft-price {
    margin-left: 20px;
    margin-top: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    height: 100px;
}

.nft-like:hover {
    color: red;
}

.inner-nft-title {
    margin-top: 10px;
    font-size: 30px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    font-size: 15px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.inner-nft-image {
    width: 100%;
    height: 100%;
}

.inner-nft-address {
    font-size: 14px;
}

.inner-nft-price {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 33px;
    line-height: 80px;
}

.inner-nft-owner {
    font-size: 18px;
}

.inner-nft-details {
    margin-top: 10px;
    font-size: 18px;
    border-bottom: 1px solid #ddd;
}

.inner-nft-buy {
    margin-right: 20px;
    width: 170px;
    height: 50px;
}

.inner-nft-bid {
    width: 170px;
    height: 50px;
}

.buttons {
    position: absolute;
    top: 26%;
    right: 20px;
}

.inner-nft-other {
    margin-top: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 22px;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}
