.skeleton {
    background: #ddd;
    margin: 10px 0;
    border-radius: 4px;
}

.skeleton.text{
    width: 100%;
    height: 12px;
}

.skeleton.title{
    width: 50%;
    height: 20px;
    margin-bottom: 15px;
}

.skeleton.button{
    float: left;
    width: 25%;
    height: 25px;
    margin-bottom: 15px;
}

.skeleton.price{
    width: 20%;
    height: 20px;
    float: right;
}


.skeleton.avatar {
    margin: auto;
    width: 100%;
    height: 250px;
}

.skeleton.thumbnail {
    width: 100px;
    height: 100px;
}

/* Animation */
.col-md-4{
    position: relative;
    overflow: hidden;
}

.shimmer-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: loading 1.5s infinite;

}

.shimmer {
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,0.2);
    transform: skewX(-20deg);
    box-shadow: 0 0 30px 30px rgba(255,255,255,0.05);
}

@keyframes loading {
    0% {transform: translateX(-150%);}
    50% {transform: translateX(-60%);}
    100% {transform: translateX(150%);}
}